<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
</head>
<body>
    <h1>Report</h1>
    <table>
        <tr>
            <th>Vehicle type</th>
            <th>Color</th>
            <th>Licence plate</th>
            <th>Owner Last Name</th>
            <th>Owner First Name</th>
        </tr>
        {% for x in info %}
            <tr>
                <td>{{ x.vehicle_description }}</td>
                <td>{{ x.vehicle_color }}</td>
                <td>{{ x.vehicle_license_plate }}</td>
                <td>{{ x.last_name }}</td>
                <td>{{ x.first_name }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>